USE [master]
GO
/****** Object:  Database [QuanLyDuLich2]    Script Date: 02-Jan-21 3:28:53 PM ******/
CREATE DATABASE [QuanLyDuLich2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDuLich2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyDuLich2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDuLich2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyDuLich2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDuLich2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDuLich2]
GO
/****** Object:  Table [dbo].[tbBaoCao]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbBaoCao](
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NOT NULL,
	[DoanhThuTong] [float] NULL,
	[KhachDen] [int] NULL,
	[KhachDi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TuNgay] ASC,
	[DenNgay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbChiTietPhieuDichVu]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbChiTietPhieuDichVu](
	[PhieuDichVu] [int] NOT NULL,
	[DichVu] [int] NOT NULL,
	[YeuCauKhach] [text] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuDichVu] ASC,
	[DichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbDichVu]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDichVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[DonGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbHoaDon]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbHoaDon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NOT NULL,
	[PhieuThuePhong] [int] NOT NULL,
	[ThanhTien] [float] NULL,
	[PhieuChuyenKhoan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbKhach]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbKhach](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nvarchar](10) NULL,
	[HoTen] [nvarchar](24) NULL,
	[DiaChi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLoaiPhong]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLoaiPhong](
	[LoaiPhong] [nvarchar](10) NOT NULL,
	[DienTich] [float] NULL,
	[DonGiaThang] [float] NULL,
	[DonGiaNgay] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLoaiSuCo]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLoaiSuCo](
	[LoaiSuCo] [nvarchar](24) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiSuCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbLoaiTaiKhoan]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLoaiTaiKhoan](
	[LoaiTaiKhoan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhieuChuyenKhoan]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhieuChuyenKhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDKhachHang] [int] NOT NULL,
	[SoTien] [float] NOT NULL,
	[NoiDung] [text] NULL,
	[NgoaiTe] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhieuDichVu]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhieuDichVu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Khach] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
	[TienGiam] [float] NULL,
	[ThanhTien] [float] NULL,
	[HoaDon] [int] NULL,
	[GhiChu] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhieuThuePhong]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhieuThuePhong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Khach] [int] NOT NULL,
	[SoPhong] [nvarchar](10) NOT NULL,
	[NgayMuon] [datetime] NULL,
	[NgayTra] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPhong]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhong](
	[SoPhong] [nvarchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](10) NOT NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSuCo]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSuCo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [text] NULL,
	[ThoiGianTao] [datetime] NULL,
	[LoaiSuCo] [nvarchar](24) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTaiKhoan]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTaiKhoan](
	[TenTaiKhoan] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTyGia]    Script Date: 02-Jan-21 3:28:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTyGia](
	[NgoaiTe] [nvarchar](3) NOT NULL,
	[TyGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[NgoaiTe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbBaoCao] ADD  DEFAULT ((0)) FOR [KhachDen]
GO
ALTER TABLE [dbo].[tbBaoCao] ADD  DEFAULT ((0)) FOR [KhachDi]
GO
ALTER TABLE [dbo].[tbPhieuDichVu] ADD  DEFAULT ((0)) FOR [TienGiam]
GO
ALTER TABLE [dbo].[tbChiTietPhieuDichVu]  WITH CHECK ADD FOREIGN KEY([DichVu])
REFERENCES [dbo].[tbDichVu] ([ID])
GO
ALTER TABLE [dbo].[tbChiTietPhieuDichVu]  WITH CHECK ADD FOREIGN KEY([PhieuDichVu])
REFERENCES [dbo].[tbPhieuDichVu] ([ID])
GO
ALTER TABLE [dbo].[tbHoaDon]  WITH CHECK ADD FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[tbKhach] ([ID])
GO
ALTER TABLE [dbo].[tbHoaDon]  WITH CHECK ADD FOREIGN KEY([PhieuChuyenKhoan])
REFERENCES [dbo].[tbPhieuChuyenKhoan] ([ID])
GO
ALTER TABLE [dbo].[tbHoaDon]  WITH CHECK ADD FOREIGN KEY([PhieuThuePhong])
REFERENCES [dbo].[tbPhieuThuePhong] ([ID])
GO
ALTER TABLE [dbo].[tbPhieuChuyenKhoan]  WITH CHECK ADD FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[tbKhach] ([ID])
GO
ALTER TABLE [dbo].[tbPhieuChuyenKhoan]  WITH CHECK ADD FOREIGN KEY([NgoaiTe])
REFERENCES [dbo].[tbTyGia] ([NgoaiTe])
GO
ALTER TABLE [dbo].[tbPhieuDichVu]  WITH CHECK ADD FOREIGN KEY([HoaDon])
REFERENCES [dbo].[tbHoaDon] ([ID])
GO
ALTER TABLE [dbo].[tbPhieuDichVu]  WITH CHECK ADD FOREIGN KEY([Khach])
REFERENCES [dbo].[tbKhach] ([ID])
GO
ALTER TABLE [dbo].[tbPhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([Khach])
REFERENCES [dbo].[tbKhach] ([ID])
GO
ALTER TABLE [dbo].[tbPhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([SoPhong])
REFERENCES [dbo].[tbPhong] ([SoPhong])
GO
ALTER TABLE [dbo].[tbPhong]  WITH CHECK ADD FOREIGN KEY([LoaiPhong])
REFERENCES [dbo].[tbLoaiPhong] ([LoaiPhong])
GO
ALTER TABLE [dbo].[tbSuCo]  WITH CHECK ADD FOREIGN KEY([LoaiSuCo])
REFERENCES [dbo].[tbLoaiSuCo] ([LoaiSuCo])
GO
ALTER TABLE [dbo].[tbTaiKhoan]  WITH CHECK ADD FOREIGN KEY([LoaiTaiKhoan])
REFERENCES [dbo].[tbLoaiTaiKhoan] ([LoaiTaiKhoan])
GO
USE [master]
GO
